.App {
  text-align: center;
  text-transform: capitalize;
}

.cardBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 5px;
  text-wrap: balance;
}

.cards{
  border: 2px dashed black;
  transition: 3s all ease;
}

.cards:hover{
background-color: royalblue;
color:  white;
border: none;
transform: rotateY(180deg);
}
.cards:hover h3{
transform: rotateY(180deg);
}
